.page {
  background: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  min-height: 100vh;
}

/* .page * {
  box-sizing: border-box;
} */

@media screen and (max-width: 767px) {
  .page {
    font-size: 14px;
    line-height: 17px;
  }
}

