.header__container {
  padding: 45px 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding: 30px 20px;
  }
}

