.profile {
  padding: 40px 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 40px 0 18px;
    flex-direction: column;
  }
}

