.profile__avatar {
  margin: 0 30px 0 0;
  line-height: 0;
  position: relative;
}
.profile__avatar::after {
  content: '';
  opacity: 0;
  transition: .2s;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/pen.svg);
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.profile__avatar:hover::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: 0 0 26px 0;
  }
}

