.popup__container {
  width: 430px;
  max-width: calc(100% - 40px);
  background: #fff;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  color: #000;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    padding: 25px 20px;
  }
}

