.popup {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  transition: visibility .25s, opacity .25s linear;
  opacity: 0;
  z-index: 1;
}

